.layout a {
    color: black !important;
}

.layout {
    font-size: 2em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 50px auto;
}
