 body {
    font-family: 'Grand Hotel', cursive;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
html{
    font-size: 1.1rem;
}

img {
    max-width: 100%;
    display: block;
}

 input,
 button,
 textarea,
 select {
     font: inherit;
 }

 #modal{
     z-index: 10;
 }