.form_password {
    text-align: center;
    width: 60%;
}


.form_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.div_input {
    width: 40%;
}


.button {
    border: 0;
    background: transparent;
}

.button:hover {

}

.p {
    color: red;
    font-size: 18px;
}